In [1]:
import requests
import pandas as pd

In [4]:
"""
Some Useful Parameters:
- ALLSKY_SFC_SW_DWN: All Sky Insolation Incident on a Horizontal Surface (kwh/m2/day)
- T2M: temperature at 2 meters from gound (C)
- PRECTOT: precipitation (mm/day)
- PS: Surface Pressure (kPa)
- WS2M: Wind Speed at 2 Meters (m/s)
- KT: Insolation Clearness Index (dimensionless)
- DNR: Direct Normal Radiation (kWh/m^2/day)
- DIFF: Diffuse Radiation On A Horizontal Surface (kWh/m^2/day)

for more documentation: https://power.larc.nasa.gov/docs/v1/
"""

parameters = 'ALLSKY_SFC_SW_DWN', 'KT', 'T2M', 'PRECTOT', 'PS', 'WS2M'
parameters = ','.join(parameters)

api_kwds = \
    {
        'user': 'anonymous',
        'parameters': parameters,
        'start_date': 2016,
        'end_date': 2016,
        'temp_average': 'INTERANNUAL',
        'lat': 36,
        'lon': 45
    }

base = ('https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&'
        'parameters={parameters}&'
        'startDate={start_date}&'
        'endDate={end_date}&'
        'userCommunity=SSE&'
        'tempAverage={temp_average}&'
        'outputList=JSON,ASCII&'
        'lat={lat}&'
        'lon={lon}&'
        'user={user}')

url = base.format(**api_kwds)
response = requests.get(url)
json = response.json()

In [5]:
json

{'features': [{'geometry': {'coordinates': [45.00001, 36.00001, 1366.23],
    'type': 'Point'},
   'properties': {'parameter': {'ALLSKY_SFC_SW_DWN': {'201601': 2.2,
      '201602': 3.66,
      '201603': 3.57,
      '201604': 5.32,
      '201605': 6.37,
      '201606': 7.52,
      '201607': 7.71,
      '201608': 6.97,
      '201609': 6.09,
      '201610': 4.23,
      '201611': 3.25,
      '201612': 2.0,
      '201613': 4.91},
     'KT': {'201601': 0.43,
      '201602': 0.58,
      '201603': 0.44,
      '201604': 0.54,
      '201605': 0.57,
      '201606': 0.65,
      '201607': 0.69,
      '201608': 0.68,
      '201609': 0.7,
      '201610': 0.62,
      '201611': 0.63,
      '201612': 0.45,
      '201613': 0.58},
     'PRECTOT': {'201601': 2.43,
      '201602': 1.27,
      '201603': 3.35,
      '201604': 2.26,
      '201605': 0.29,
      '201606': 0.29,
      '201607': 0.01,
      '201608': 0.0,
      '201609': 0.0,
      '201610': 0.18,
      '201611': 0.17,
      '201612': 3.78,
      '201613': 1.17},
     'PS': {'201601': 86.52,
      '201602': 86.72,
      '201603': 86.29,
      '201604': 86.36,
      '201605': 86.26,
      '201606': 86.1,
      '201607': 85.84,
      '201608': 86.14,
      '201609': 86.27,
      '201610': 86.59,
      '201611': 86.85,
      '201612': 86.61,
      '201613': 86.38},
     'T2M': {'201601': -0.26,
      '201602': 4.41,
      '201603': 6.73,
      '201604': 12.38,
      '201605': 17.43,
      '201606': 23.83,
      '201607': 28.97,
      '201608': 29.47,
      '201609': 22.47,
      '201610': 16.85,
      '201611': 7.62,
      '201612': -0.1,
      '201613': 14.18},
     'WS2M': {'201601': 2.1,
      '201602': 1.83,
      '201603': 2.24,
      '201604': 1.73,
      '201605': 1.95,
      '201606': 2.65,
      '201607': 2.36,
      '201608': 2.22,
      '201609': 2.38,
      '201610': 2.07,
      '201611': 2.82,
      '201612': 1.86,
      '201613': 2.18}}},
   'type': 'Feature'}],
 'header': {'api_version': '1.0.8',
  'endDate': '2016',
  'fillValue': '-999',
  'startDate': '2016',
  'title': 'NASA/POWER SRB/FLASHFlux/MERRA2/GEOS 5.12.4 (FP-IT) 0.5 x 0.5 Degree Climatologies: Interannual Averages/Sums'},
 'messages': [],
 'outputs': {'ascii': 'https://power.larc.nasa.gov/downloads/POWER_SinglePoint_Interannual_201601_201612_036d00N_045d00E_7c70a62b.txt',
  'json': 'https://power.larc.nasa.gov/downloads/POWER_SinglePoint_Interannual_201601_201612_036d00N_045d00E_7c70a62b.json'},
 'parameterInformation': {'ALLSKY_SFC_SW_DWN': {'longname': 'All Sky Insolation Incident on a Horizontal Surface',
   'units': 'kW-hr/m^2/day'},
  'KT': {'longname': 'Insolation Clearness Index', 'units': 'dimensionless'},
  'PRECTOT': {'longname': 'Precipitation', 'units': 'mm day-1'},
  'PS': {'longname': 'Surface Pressure', 'units': 'kPa'},
  'T2M': {'longname': 'Temperature at 2 Meters', 'units': 'C'},
  'WS2M': {'longname': 'Wind Speed at 2 Meters', 'units': 'm/s'}},
 'time': [['Main OPeNDAP Requests:', 2.0851569175720215],
  ['Total Script:', 12.629398107528687]],
 'type': 'FeatureCollection'}

In [12]:
data = json['features'][0]['properties']['parameter']
df = pd.DataFrame(data)
df_annual = df.iloc[-1,:]

In [13]:
df_annual

ALLSKY_SFC_SW_DWN     4.91
KT                    0.58
PRECTOT               1.17
PS                   86.38
T2M                  14.18
WS2M                  2.18
Name: 201613, dtype: float64

In [17]:
df.describe()

,ALLSKY_SFC_SW_DWN,KT,PRECTOT,PS,T2M,WS2M
count,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,4.907692,0.581538,1.169231,86.379231,14.152308,2.183846
std,1.935976,0.094061,1.352852,0.276238,10.172337,0.317110
min,2.000000,0.430000,0.000000,85.840000,-0.260000,1.730000
25%,3.570000,0.540000,0.170000,86.260000,6.730000,1.950000
50%,4.910000,0.580000,0.290000,86.360000,14.180000,2.180000
75%,6.370000,0.650000,2.260000,86.590000,22.470000,2.360000
max,7.710000,0.700000,3.780000,86.850000,29.470000,2.820000

In [18]:
df

        ALLSKY_SFC_SW_DWN    KT  PRECTOT     PS    T2M  WS2M
201601               2.20  0.43     2.43  86.52  -0.26  2.10
201602               3.66  0.58     1.27  86.72   4.41  1.83
201603               3.57  0.44     3.35  86.29   6.73  2.24
201604               5.32  0.54     2.26  86.36  12.38  1.73
201605               6.37  0.57     0.29  86.26  17.43  1.95
201606               7.52  0.65     0.29  86.10  23.83  2.65
201607               7.71  0.69     0.01  85.84  28.97  2.36
201608               6.97  0.68     0.00  86.14  29.47  2.22
201609               6.09  0.70     0.00  86.27  22.47  2.38
201610               4.23  0.62     0.18  86.59  16.85  2.07
201611               3.25  0.63     0.17  86.85   7.62  2.82
201612               2.00  0.45     3.78  86.61  -0.10  1.86
201613               4.91  0.58     1.17  86.38  14.18  2.18