In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('data/Koeppen-Geiger-ASCII/Koeppen-Geiger-ASCII.txt', sep=' ')

/home/matchdt/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df.head().T

                  0       1       2       3       4
Unnamed: 0      NaN     NaN     NaN     NaN     NaN
Unnamed: 1      NaN     NaN     NaN     NaN     NaN
Unnamed: 2      NaN     NaN     NaN     NaN     NaN
Unnamed: 3   -89.75  -89.75  -89.75  -89.75  -89.75
Unnamed: 4      NaN     NaN     NaN     NaN     NaN
Unnamed: 5  -179.75 -179.25 -178.75 -178.25 -177.75
Lat             NaN     NaN     NaN     NaN     NaN
Unnamed: 7      NaN     NaN     NaN     NaN     NaN
Unnamed: 8      NaN     NaN     NaN     NaN     NaN
Unnamed: 9      NaN     NaN     NaN     NaN     NaN
Unnamed: 10     NaN     NaN     NaN     NaN     NaN
Unnamed: 11     NaN     NaN     NaN     NaN     NaN
Lon              EF      EF      EF      EF      EF
Unnamed: 13     NaN     NaN     NaN     NaN     NaN
Unnamed: 14     NaN     NaN     NaN     NaN     NaN
Unnamed: 15     NaN     NaN     NaN     NaN     NaN
Unnamed: 16     NaN     NaN     NaN     NaN     NaN
Unnamed: 17     NaN     NaN     NaN     NaN     NaN
Cls             NaN     NaN     NaN     NaN     NaN