In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/kg-regions.csv')

In [4]:
df.columns = map(str.lower, df.columns)

In [6]:
df.head()

     lat     lon  cls
0 -89.75 -179.75   EF
1 -89.75 -179.25   EF
2 -89.75 -178.75   EF
3 -89.75 -178.25   EF
4 -89.75 -177.75   EF

In [7]:
c = {'lat': [36.1, 36.2, 37.67, 37.88], 'lon': [45.07, 46.23, 47.1, 48.99]}
coords = pd.DataFrame(c)

In [8]:
coords

     lat    lon
0  36.10  45.07
1  36.20  46.23
2  37.67  47.10
3  37.88  48.99

In [15]:
df.drop('lat2', axis=1,inplace=True)

In [36]:
indlat = np.abs(df['lat']-coords.at[0,'lat']).idxmin()

In [34]:
dfmasked = df[df['lat']==df.at[indlat,'lat']]

In [37]:
indlon = np.abs(dfmasked['lon']-coords.at[0,'lon']).idxmin()

In [38]:
cls = dfmasked.at[indlon,'cls']