In [1]:
import requests
import pandas as pd

In [39]:
def get_nasa(year, latlondf):
    json_list = []
    for i in latlondf.index:
        lat = latlondf.at[i,'lat']
        lon = latlondf.at[i,'lon']
        
        """
        Some Useful Parameters:
        - ALLSKY_SFC_SW_DWN: All Sky Insolation Incident on a Horizontal Surface (kwh/m2/day)
        - T2M: temperature at 2 meters from gound (C)
        - PRECTOT: precipitation (mm/day)
        - PS: Surface Pressure (kPa)
        - WS2M: Wind Speed at 2 Meters (m/s)
        - KT: Insolation Clearness Index (dimensionless)
        - DNR: Direct Normal Radiation (kWh/m^2/day)
        - DIFF: Diffuse Radiation On A Horizontal Surface (kWh/m^2/day)

        for more documentation: https://power.larc.nasa.gov/docs/v1/
        """

        parameters = 'ALLSKY_SFC_SW_DWN', 'KT', 'T2M', 'PRECTOT', 'PS', 'WS2M'
        parameters = ','.join(parameters)

        api_kwds = \
            {
                'user': 'anonymous',
                'parameters': parameters,
                'start_date': int(year),
                'end_date': int(year),
                'temp_average': 'INTERANNUAL',
                'lat': lat,
                'lon': lon
            }

        base = ('https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=SinglePoint&'
                'parameters={parameters}&'
                'startDate={start_date}&'
                'endDate={end_date}&'
                'userCommunity=SSE&'
                'tempAverage={temp_average}&'
                'outputList=JSON,ASCII&'
                'lat={lat}&'
                'lon={lon}&'
                'user={user}')

        url = base.format(**api_kwds)
        response = requests.get(url)
        json = response.json()
        json_list.append(json)
        
    return json_list

In [21]:
data = json['features'][0]['properties']['parameter']
df = pd.DataFrame(data)
df_annual = df.iloc[-1,:]

In [22]:
df_annual

ALLSKY_SFC_SW_DWN     4.91
KT                    0.58
PRECTOT               1.17
PS                   86.38
T2M                  14.18
WS2M                  2.18
Name: 201613, dtype: float64

In [28]:
c = {'lat': [36, 36, 37, 37], 'lon': [45, 46, 47, 48]}
coords = pd.DataFrame(c)

In [35]:
coords

   lat  lon
0   36   45
1   36   46
2   37   47
3   37   48

In [41]:
jsons = get_nasa(2016, coords)